.page {
  display: flex;
  flex-direction: column;
  background: $light;
  min-height: 100vh;

  &__header {
    flex: 0 0 auto;
    background: $primary;
    color: $white;
    width: 100%;
    margin-bottom: 1.6rem;
  }

  &__content {
    flex: 1 1 auto;
    width: 100%;
    margin-bottom: 2.4rem;
    @include container;
  }

  &__footer {
    flex: 0 0 auto;
    background: $dark;
    color: $light;
    width: 100%;
  }
}