.breadcrumbs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.6rem;
  margin-bottom: 1.6rem;

  &__path {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    margin-bottom: 0.8rem;
  }

  a,
  &__separator {
    text-decoration: none;
    color: #CCCCCC;
  }

  &__separator {
    margin: 0 0.8rem;
  }

  a:last-child {
    color: $primary;
  }
}