.btn,
.link {
  text-align: center;
  text-decoration: none;
}

.btn {
  font-size: 1.6rem;
  padding: 1.7rem 3.5rem;
  background: $primary;
  border: none;
  border-radius: 8px;
  color: $white;
  outline: 0;
  cursor: pointer;
  // TODO: Mixin for animation
  transition: all 0.3s ease;

  &:hover {
    background: darken($primary, 10%);
  }

  &--primary {
    background: $white;
    color: $primary;

    &:hover {
      background: darken($white, 10%);
    }
  }
}

.link {
  color: $primary;
  font-size: 2rem;
  line-height: 150%;
  font-weight: bolder;
  transition: all 0.3s ease;

  &:hover {
    color: darken($primary, 10%);
  }
}
