.btn {
  font-size: 1.6rem;
  text-align: center;
  padding: 1.7rem 3.5rem;
  background: $primary;
  border: none;
  border-radius: 8px;
  color: $white;
  outline: 0;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background: darken($primary, 10%);
  }

  &--primary {
    background: $white;
    color: $primary;

    &:hover {
      background: darken($white, 10%);
    }
  }
}