$pager-breakpoint: 870px;

.pager {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  &__pages {
    text-align: center;
  }

  &__arrow {
    margin: 0 2rem;
    cursor: pointer;
  }

  &__btn,
  &__gap {
    display: inline-block;
    font-size: 1.6rem;
    margin: 0 0.4rem;
    margin-bottom: 0.5rem;
  }

  &__btn {
    text-align: center;
    background: $white;
    border: 2px solid #F1F1F1;
    border-radius: 8px;
    padding: 1.4rem 1.9rem;
    transition: all 0.3s ease;
    cursor: pointer;

    &--active,
    &:hover {
      color: $white;
      background: $primary;
      border-color: $primary;
    }
  }

  @media screen and (max-width: $pager-breakpoint) {
    &__gap {
      display: block;
      margin: 0.5rem 0;
    }
  }
}