@mixin container {
  margin: 0 auto;
  width: $row;
  max-width: $row-max;
}

@mixin bg-image {
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin animated {
  transition: all 0.3s ease;
}

@mixin shadow {
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
}
