.about {
  display: block;
  text-align: center;
  margin-bottom: 8rem;

  &__title {
    font-weight: normal;
    font-size: 3.2rem;
    margin-bottom: 2.4rem;
  }

  &__info {
    color: $gray;
    font-size: 2rem;
    line-height: 150%;
    margin-bottom: 4rem;
  }

  &__features {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    @include container;

    @media screen and (max-width: $about-breakpoint) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__feature {
    width: 80%;
    max-width: 38rem;
    margin-bottom: 3.2rem;

    &:not(:last-child) {
      margin-right: 2rem;
    }

    @media screen and (max-width: $about-breakpoint) {
      max-width: 48rem;

      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }
}