$hero-breakpoint: 960px;

.home {
  background: $light;

  &__header {
    color: $white;
    height: 80vh;
    max-height: 68rem;
  }

  &__content {
    @include container;
  }

  &__footer {
    color: $white;
  }
}
