.home {
  background: $light;

  &__header,
  &__footer {
    color: $white;
    width: 100%;
    height: auto;
  }

  &__header {
    background: url(../../assets/home-header-bg.svg);
    background-position: center;
    @include bg-image;
  }

  &__content {
    margin: 2rem 0;
  }

  &__footer {
    position: relative;
    padding: 15rem 0 2.5rem 0;
    background: url(../../assets/home-footer-bg.svg);
    @include bg-image;
  }

  &__subscription {
    position: absolute;
    top: 25%;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
  }
}
