.info {
  color: $white;
  width: 100%;
  height: 400px;
  margin-bottom: 8rem;
  overflow: visible;
  background: $primary-gradient;

  @media screen and (max-width: $info-breakpoint) {
    height: auto;
    padding: 3rem 2rem;
  }

  &__content {
    display: flex;
    flex-direction: row;
    align-items: center;

    @include container;
  }

  &__title {
    font-size: 3.2rem;
    margin-bottom: 1.6rem;
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 1.6rem;
    margin-bottom: 2.4rem;
  }

  &__image {
    position: relative;
    top: -27px;

    @media screen and (max-width: $info-breakpoint) {
      display: none; 
    }
  }
}